<div class="panel panel-default">
	<div class="panel-heading">User Signup</div>
	<div class="panel-body">
		<form [formGroup]="signupForm" novalidate>
		  <div class="form-group"
		  	[ngClass]="{
	  			'has-error': firstName.invalid && firstName.touched
	  		}">
		    <label for="firstName">First name</label>
		    <input type="text" class="form-control" formControlName="firstName" required>
		  </div>
		  <div class="form-group"
		  	[ngClass]="{
	  			'has-error': lastName.invalid && lastName.touched
	  		}">
		    <label for="lastName">Last Name</label>
		    <input type="text" class="form-control" formControlName="lastName" required>
		  </div>
		  <div class="form-group"
		  	[ngClass]="{
	  			'has-error': email.invalid && email.touched
	  		}">
		    <label for="email">Email</label>
		    <input type="email" class="form-control" formControlName="email" required>
		  </div>
		  <div class="form-group"
		  	[ngClass]="{
	  			'has-error': password.invalid && password.touched
	  		}">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" formControlName="password" required>
		  </div>
		  <button [disabled]="!signupForm.valid" type="submit" class="btn btn-primary" (click)="onSignup">Signup</button>
		</form>
	</div>
</div>
